.payment-container {

  font-style:italic;
  max-width: 500px;
  margin: 0 auto;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 5px;
  touch-action:double-tap-zoom;
  color:#FFFFFF;
  letter-spacing: .03cm;
  font-weight:1000;
  font-size: 40px;
  display: block;
  margin-bottom: 50PX;
  margin-top: 50PX;
  
  background-image: url("C:\Users\hp\Downloads\Book Me\hotel.jpg");

}

.payment-container h2 {
  text-align: center;
  
}

h3.pay-here{

  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 25px;
  margin-bottom: 19px;
  color:darkseagreen;
  font-weight:bolder;
  text-align: center;
 }




.form-group {
  margin-bottom: 10px;
  font-size: 20px;
  font:initial;
  color:rgb(2, 2, 100);
}

label {
  display:table-footer-group;
  margin-bottom: 10px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight:100;
  font-size:29px; 
  color:#FFFFFF;
  font-style:normal;
  font:lighter; 
align-items: center;
  
}

input[type='text'] {
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color:blanchedalmond;
}

button {
  display:flex;
  width: 20%;
  height: 20% ;
  margin-left: 35%;
  text-align: center;

  background-color:blue;
  color:#FFFFFF;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font:message-box;
  letter-spacing: .03em;
  touch-action:pinch-zoom;
  vertical-align: baseline;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding: 2% 4% 2% 3%;
}

button:hover {
  background-color:navy;
}

 
