.navbar{
    height: 62px;
    background-color: #2196f3;
    display: flex;
    justify-content: center;
  }
  
  .navContainer{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo{
    font-weight: 1100;
  }

  
  .navButton{
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: #2196f3;
  }

  .image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
  }
  .username{
    margin-left: 10px;
  
  }
  .navItems{
    display: flex;
    justify-content: center;
    margin-top: 15px;
  
  }
